<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Detail page</title>
    </head>
    <body>
        <div>
            <h1>{{ task_list.first.group.name }}</h1>
            {% for task in task_list %}
                <li>{{ task.name }}</li>
                {% if task.tags.all %}
                    <p><em>Теги: {% for tag in task.tags.all %}{{ tag }} {% endfor %}</em></p>
                {% endif %}
                {% if task.comment %}
                    <p>Комментарий: {{ task.comment }}</p>
                {% endif %}
                <br>
            {% endfor %}
            <a href="">Добавить</a><br>
            <a href="{% url 'index' %}">Вернуться на главную страницу</a>
        </div>
    </body>
</html>
