<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Detail page</title>
    </head>
    <body>
        <h2>Создание новой задачи</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Создать"/>
        </form>
        <div>
            <h2>Список задач {{ group.first.name }}:</h2>
            {% for task in group.first.task_set.active %}
                <li>{{ task.name }}
                    {% if task.tags.all %}
                        <em>{% for tag in task.tags.all %}    {{ tag }} {% endfor %}</em>
                    {% endif %}
                </li>
                <br>
            {% endfor %}
            <a href="{% url 'index' %}">Вернуться на главную страницу</a>
        </div>
    </body>
</html>
