<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Index page</title>
    </head>
    <body>
        <div>
            <h1>TODO</h1>
            <h2>Создание новой группы заданий</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Создать"/>
            </form>
            <h2>Список групп заданий:</h2>
            {% for task_group in task_group_list %}
                <li>
                    <a href="{% url 'detail' task_group.id %}">
                        {{ task_group }} {{ task_group.number_of_tasks }}
                    </a>
                </li>
            {% endfor %}
            <br>
            <a href="{% url 'admin:index' %}">Администрация</a>

        </div>
    </body>
</html>
