<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Index page</title>
    </head>
    <body>
        <div>
            <h1>TODO</h1>
            {% for task_group in task_group_list %}
                <li>
                    <a href="{% url 'detail' task_group.id %}">
                        {{ task_group }} {{ task_group.task_set.count }}
                    </a>
                </li>
            {% endfor %}
            <a href="">Добавить</a>
        </div>
    </body>
</html>
